
<mat-grid-list cols="3" rowHeight="3:3">
  <mat-grid-tile *ngFor="let item of itemList">
    <div class="productImg"><img src="assets/img/{{item.itemName | lowercase}}.jpg" alt="{{item.itemName}}"/>
    </div>
    <div class="itemName"><strong>{{item.itemName}}</strong></div>
    <div class="selectedItem">
      <div class="itemPrice">Price : {{getCurrency()}} {{item.price}}:00</div>
      <button ng-click="countItem = countItem-1" class="btn btn-default">
        <i class="fa fa-minus" aria-hidden="true"></i></button>
      <input [(ngModel)]="countValue" type="number" name="countItem"/>
      <button class="btn btn-default" ng-click="countItem = countItem+1">
        <i class="fa fa-plus" aria-hidden="true"></i></button>
        <button mat-raised-button>Add to cart</button>
  </div>
  </mat-grid-tile> 
</mat-grid-list>
