.form-control {
    margin-top:100px;
    margin-left:100px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    }
.search-btn {
    float: right;
    top: inherit;
    margin-top: -20px;
}
.row {
    vertical-align: auto;
}
button {
    height: 40px;
    border-radius: 5px;
    background: lightskyblue;
    border-radius: 10px;
    margin-left:5px;
}